<!DOCTYPE html>

    
<html>
<head>
    <title>{% block title %}Playground Finder{% endblock %}</title>
    <link href="http://www.katiemarriner.com/static/playground/static/project/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.katiemarriner.com/static/playground/static/project/public/css/theme-styles.css" rel="stylesheet">
    <link href="http://www.katiemarriner.com/static/playground/static/project/public/css/app.css" rel="stylesheet">

    
    <meta name="viewport" content="width=device-width">
        
</head>

<body>
    {% csrf_token %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" style="margin-top: 0;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{{ TEMPLATE_DIRS }}">Find N' Play</a>
        </div>
      
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/{{ TEMPLATE_DIRS }}#find">Find</a></li>
              <li><a href="/{{ TEMPLATE_DIRS }}playgroundapp/testForm">Add</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="signUp"><a href="/{{ TEMPLATE_DIRS }}playgroundapp/register">Sign Up</a></li>
                <li class="helloUser full_name hide">Hello, {{ user.username }}</li>
                <li class="logOut full_name hide"><a href="/{{ TEMPLATE_DIRS }}playgroundapp/logout">Logout</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle userLogin" data-toggle="dropdown">Login <b class="caret"></b></a>
                  <ul class="dropdown-menu login-dropdown">
                    {% include "playgroundapp/user_login.html" %}
                    <div class="append"></div>
                  </ul>
                </li>
                <li class="loggedIn"></li>
            </ul><!--end login-->
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <div class="full_name_check hide">{{user.username}}</div>
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://www.katiemarriner.com/static/playground/static/project/public/js/bootstrap.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="http://www.katiemarriner.com/static/playground/static/project/public/js/jquery.geocomplete.min.js"></script>

    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    
    
    
    {% block content %}
    {% endblock %}

    <script>
        $(document).ready (function(){
        
        //GEOFILL
        //$("#id_street").geocomplete();
        
        //SMOOTH SCROLL
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top
                  }, 1000);
                  return false;
                }
              }
            });
          }); //end smooth scroll
        
        //DATEPICKER
        $(function() {
            $("#datepicker").datepicker();
        }); //end datepicker
        
        //DROPDOWN LOGIN
        $('.dropdown-toggle').dropdown();

        if ($(".full_name_check").text().length > 0) {
            console.log("{{user.username}}");
            $('.signUp').hide();
            $('.userLogin').hide();
            $('.logOut').removeClass("hide");
            $('.helloUser').removeClass("hide");
        };        

        $(".loggedIn").load("../playgroundapp/loggedin .full_name_check");
        
        setDataTables();
        geoCoder ();
        }); //end doc ready
        
        

    </script>
</body>
</html>