{% extends "base.html" %}

{% block content %}
<!--"/playgroundapp/testForm/" is the url for the form -->

<div class="container">
    <h2>Add A Playground</h2>
<div class="col-md-6">
    
<form action="" method="post">
    {% csrf_token %}
    
    <div class="col-sm-10 suggest-form">
        <textarea cols="40" id="id_name" name="name" rows="10" style="border: 1px solid #000;" placeholder="name"></textarea>
    </div>
    <div class="col-sm-10 suggest-form">
        <textarea cols="40" id="id_street" name="street" rows="10" style="border: 1px solid #000;" placeholder="street, city, zip"></textarea>
    </div>
    <div class="col-sm-10 suggest-form">
        <input id="id_zipcode" name="zipcode" type="number" style="border: 1px solid #000;" placeholder="zip">
    </div>
    <div class="col-sm-10 suggest-form">
        <select id="id_schoolDistrictID" name="schoolDistrictID">
            {% for district in dropdown %}
                <option value="{{district.id}}" name="{{district.districtname}}">{{district.districtname}}</option>
            {% endfor %}
        </select>
        </div><!--end district name-->
    
    <input id="playground_geocode">
</div>
    <div class="col-md-6">
    <h5>features</h5>
    <span class="filter-options">
        <p class="checkbox"><input id="id_swing" name="swing" type="checkbox" /><label for="id_swing"><span></span>Swing</label></p>
        <p class="checkbox"><input id="id_slide" name="slide" type="checkbox" /><label for="id_slide"><span></span>Slide</label></p>
        <p class="checkbox"><input id="id_monkeyBars" name="monkeyBars" type="checkbox" /><label for="id_monkeyBars"><span></span>Monkey bars</label></p>
        <p class="checkbox"><input id="id_sandBox" name="sandBox" type="checkbox" /><label for="id_sandBox"><span></span>Sandbox</label> </p>
        <p class="checkbox"><input id="id_field" name="field" type="checkbox" /><label for="id_field"><span></span>Field</label></p>
        <p class="checkbox"><input id="id_picnicTable" name="picnicTable" type="checkbox" /><label for="id_picnicTable"><span></span>Picnic table</label></p>
        <p class="checkbox"><input id="id_bathrooms" name="bathrooms" type="checkbox" /><label for="id_bathrooms"><span></span>Bathrooms</label></p>
        <p class="checkbox"><input id="id_changingStation" name="changingStation" type="checkbox" /><label for="id_changingStation"><span></span>Changing station</label></p>
        <p class="checkbox"><input id="id_shade" name="shade" type="checkbox" /><label for="id_shade"><span></span>Shade</label></p>
        <p class="checkbox"><input id="id_basketballCourt" name="basketballCourt" type="checkbox" /><label for="id_basketballCourt"><span></span>Basketball court</label></p>
        <p class="checkbox"><input id="id_baseball" name="baseball" type="checkbox" /><label for="id_baseball"><span></span>Baseball</label></p>
        <p class="checkbox"><input id="id_fenced" name="fenced" type="checkbox" /><label for="id_fenced"><span></span>Fenced</label></p>
        <p class="checkbox"><input id="id_bikePath" name="bikePath" type="checkbox" /><label for="id_bikePath"><span></span>Bike path</label></p>
        <p class="checkbox"><input id="id_hikingTrail" name="hikingTrail" type="checkbox" /><label for="id_hikingTrail"><span></span>Hiking trail</label></p>
        <p class="checkbox"><input id="id_adjacentParking" name="adjacentParking" type="checkbox" /><label for="id_adjacentParking"><span></span>Adjacent parking</label> </p>
        <p class="checkbox"><input id="id_nearbyParking" name="nearbyParking" type="checkbox" /><label for="id_nearbyParking"><span></span>Nearby parking</label></p>
        <p class="checkbox"><input id="id_noParking" name="noParking" type="checkbox" /><label for="id_noParking"><span></span>No parking</label></p>
    </span>
    
        <p class="checkbox checkbox-prox"><label for="id_proximityToBus">Proximity to bus</label> <input id="id_proximityToBus" name="proximityToBus" type="number" value="0" /></p>
        <p class="checkbox checkbox-prox"><label for="id_proximityToHighway">Proximity to highway</label> <input id="id_proximityToHighway" name="proximityToHighway" type="number" value="0" /></p>

    <h5>ages</h5>
    <span class="filter-options">
        <p class="checkbox"><input id="id_infant" name="infant" type="checkbox" /><label for="id_infant"><span></span>Infants</label></p>
        <p class="checkbox"><input id="id_toddler" name="toddler" type="checkbox" /><label for="id_toddler"><span></span>Toddler</label></p>
        <p class="checkbox"><input id="id_preSchooler" name="preSchooler" type="checkbox" /><label for="id_preSchooler"><span></span>Pre-Schoolers</label></p>
        <p class="checkbox"><input id="id_schoolAged" name="schoolAged" type="checkbox" /><label for="id_schoolAged"><span></span>School Aged</label></p>
        <p class="checkbox"><input id="id_preTeen" name="preTeen" type="checkbox" /><label for="id_preTeen"><span></span>Pre-Teens</label></p>
    </span>
    
    <div class="col-sm-10 suggest-form">
        <input type="submit" name="submit" class="btn btn-default suggest-submit" value="Add Playground">
    </div>
    </div><!--end col md 6-->
</form>

</div>

<script>
    var geoCoder = function () {
        $("#playground_geocode").geocomplete();
    };
</script>
{% endblock %}