{% extends "base.html" %}

{% block content %}

<div class="row opening-screen" style="margin-top: 50px;">
    
<div class="opening-text">
<div class="col-md-6 col-md-offset-3 opening-text" style="min-height: 100%">
    <center>
        <!--<img src="http://www.katiemarriner.com/static/playground/static/project/public/images/logo.svg" class="hidden-md hidden-lg">-->
        <h1 class="project-title">Find N' Play</h1>
        <h4>Find, contribute and explore playgrounds in the Durham/Chapel Hill area.</h4>
        <a href="{{ TEMPLATE_DIRS }}/#find"><button type="button" class="btn btn-info main-buttons">Find A Playground</button></a><br>
        <a href="{{ TEMPLATE_DIRS }}playgroundapp/testForm"><button type="button" class="btn btn-warning main-buttons">Add A Playground</button></a>
    </center>
</div>
</div><!--end opening text-->
</div><!--end title row-->

<a id="find"></a>
<div class="container">
<div class="row">
<h2>Find A Playground</h2>
<div class="col-md-5 left-info">
    <!--<div class="input-group input-search" style="display: table">
      <input type="text" class="form-control" placeholder="search" style="border: 1px solid #000; border-right: none;">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" style="background-color: hsla(58, 100%, 75%, 0.2); border: 1px solid #000; border-left: none;"><span class="glyphicon glyphicon-search" style="color: hsla(174, 94%, 31%, 0.5);"></span></button>
        </span>
    </div><!-- /input-group -->    
    
    <div class="table-div park-table-outer">
    
    <table id="playground_list" class="table park-table">
        <thead>
            <tr class="find-header">
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for playground in filter%}
                <tr>
                    <td><a href="{{ TEMPLATE_DIRS }}playgroundapp/playground_info/{{playground.id}}">{{playground.name}}</a></td>
                    <td>{{playground.street}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    
    <div class="panel-group hidden-sm hidden-xs" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Features
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <form action="" method="get">
                    <!--
                    <input type="hidden" id="id_infant" name="infant"  value="1"> infant
                    <input type="checkbox" id="id_infant" name="infant" value="2" />
                    
                    <input type="hidden" id="id_toddler" name="toddler" value="1"> toddler
                    <input type="checkbox" id="id_toddler" name="toddler" value="2" />
                    
                    <input type="hidden" id="id_preSchooler" name="preSchooler" value="1"> preSchooler
                    <input type="checkbox" id="id_preSchooler" name="preSchooler" value="2" />
                    
                    <input type="hidden" id="id_schoolAged" name="schoolAged" value="1">schoolAged
                    <input type="checkbox" id="id_schoolAged" name="schoolAged" value="2" />
                    
                    <input type="hidden" id="id_preTeen" name="preTeen" value="1">preTeen
                    <input type="checkbox" id="id_preTeen" name="preTeen" value="2" />
                    
                    <input type="hidden" id="id_swing" name="swing" value="1">swing
                    <input type="checkbox" id="id_swing" name="swing" value="2" />
                    
                    <input type="hidden" id="id_slide" name="swing" value="1">slide
                    <input type="checkbox" id="id_slide" name="swing" value="2" />
                    
                    <input type="submit" />
                </form>
                <form action="">
                -->
                    <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_swing" name="swing" value="1">
                      <input type="checkbox" id="id_swing" name="swing" value="2" />
                      <span></span>Swings
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_slide" name="swing" value="1">
                      <input type="checkbox" id="id_slide" name="swing" value="2" />
                      <span></span>Slides
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_monkeyBars" name="monkeyBars" value="1">
                      <input type="checkbox" id="id_monkeyBars" name="monkeyBars" value="2" />
                      <span></span>Monkey Bars
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_sandBox" name="sandBox" value="1">
                      <input type="checkbox" id="id_sandBox" name="sandBox" value="2" />
                      <span></span>Sandbox
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_field" name="field" value="1">
                      <input type="checkbox" id="id_field" name="field" value="2" />
                      <span></span>Field
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_picnicTable" name="picnicTable" value="1">
                      <input type="checkbox" id="id_picnicTable" name="picnicTable" value="2" />
                      <span></span>Picnic Tables
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_bathrooms" name="bathrooms" value="1">
                      <input type="checkbox" id="id_bathrooms" name="bathrooms" value="2" />
                    <span></span>Bathrooms
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_changingStation" name="changingStation" value="1">
                      <input type="checkbox" id="id_changingStation" name="changingStation" value="2" />
                    <span></span>Changing station
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_shade" name="shade" value="1">
                      <input type="checkbox" id="id_shade" name="shade" value="2" />
                    <span></span>Shade
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_basketballCourt" name="basketballCourt" value="1">
                      <input type="checkbox" id="id_basketballCourt" name="basketballCourt" value="2" />
                    <span></span>Basketball court
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="hidden" id="id_baseball" name="baseball" value="1">
                      <input type="checkbox" id="id_baseball" name="baseball" value="2" />
                    <span></span>Baseball Field
                    </label>
                </div>
                <input class="btn btn-default suggest-submit" type="submit" />
                </form>
            </div>
          </div>
        </div>

    </div>
    
</div><!--end list column-->
<div class="col-md-7 right-map">
    <div class="container well" style="width: 100%; height: 100%; border: none; padding: 0; margin: 0;">
    {% include "playgroundApp/map.html" %}
    </div>
</div>
</div><!--end list detail and map row-->

<script>
    //this is the datatables function    
    function setDataTables() {
        console.log("setDataTable")
        $('#playground_list').dataTable ({
        "bPaginate": false,
        "bAutoWidth": false,
        "bInfo": false,
        "aaSorting": [[ 30, "desc" ]]
    } ); //end datatables function
    }
</script>
{% endblock %}
