{% extends "base.html" %}

{% block content %}
<h1>User Review Form</h1>
<body>
    <form action='/playgroundapp/new_review.html' method='get'>
        {% csrf_token %}
    <div class="col-sm-10 suggest-form">
            <input type="text" class="form-control suggest-text" id="name" placeholder="name" style="border: 1px solid #000;">
        </div>
        <div class="col-sm-10 suggest-form">    
            <input type="text" class="form-control suggest-text" id="address" placeholder="street address" style="border: 1px solid #000;">
        </div>
        <div class="col-sm-10 suggest-form"> 
            <input type="text" class="form-control suggest-text" id="city" placeholder="city" style="border: 1px solid #000;">


        </div>
        <div class="col-sm-10 suggest-form"> 
            <input type="text" class="form-control suggest-text" id="hours" placeholder="hours open" style="border: 1px solid #000;">
        </div>
        <div class="col-sm-10 suggest-form"> 
            <textarea type="text" class="form-control suggest-text" id="description" cols="20" rows="5" placeholder="description" style="border: 1px solid #000;"></textarea>
        </div>
    <input type='submit' value='Submit' />
    </form>
</body>
{% endblock %}