{% block content %}
    

    {{ form.playgroundName}}
        <div class="col-sm-10 suggest-form">
            {{ formSuggest.playgroundName }}
        </div>
        <div class="col-sm-10 suggest-form">    
            {{ formSuggest.address }}
        </div>
        <div class="col-sm-10 suggest-form"> 
            {{ formSuggest.description }}
        </div>
        <div>
            {{ formSuggest.name }}
        </div>
        
        <!--<div class="col-sm-10 suggest-form">
            <imput type="submit" class="btn btn-default suggest-submit" value="SUBMIT" />
        </div>-->
        
{% endblock %}