{% extends "base.html" %}

{% block content %}
<div class="container">
<h2>{{ playground.name }}</h2>
<div class=row>
<div class="col-md-5 play-info">    
    <div class="table-div" style="max-height: 440px; overflow-y: scroll; margin: 20px inherit;">
    <table class="table">
    <tbody>
    <tr>
        <h6>Address</h6> <p>{{ playground.street }} {{ playground.zipcode }}</p>
    </tr>
    <tr>
        <h6>Suitable for Ages</h6>
            <span style="display: inline">
                <p id="infants" style="display: inline">Infants,</p>
                <p id="toddlers" style="display: inline">Toddlers,</p>
                <p id="preSchool" style="display: inline">Pre-School Aged</p>
                <p id="schoolAge" style="display: inline">School Aged,</p>
                <p id="preTeen" style="display: inline">Pre-Teens</p>
            </span>
    </tr>
    
    <tr> <h6>School District</h6> <p>{{ schoolDistrict.districtname }}</p>
    </tr> 
    <tr>
        <h6>Transportation</h6>
            <ul>
                <li id="bike">Nearby Bike Path</li>
                <li id="hike">Hiking Trails</li>
                <li id="noPark">No Parking</li>
                <li id="park">On-Site Parking</li>
                <li id="nearPark">Nearby Parking</li>
                <li id="bus">{{playground.proximityToBus}} Miles from a Bus Line</li>
            </ul>
    </tr>
    <tr>
        <h6 id="handicap">Handicap Accessible</h6>
    </tr>
    <tr>
        <h6>Hours</h6> <p>{{ playground.hours }}</p>
    </tr>
    <tr>
        <h6>Features</h6>
        <ul>
        <li id="swing">Swings</li>
        <li id="slide">Slides</li>
        <li id="monkey">Monkey Bars</li>
        <li id="sand">Sand Boxes</li>
        <li id="field">Fields</li>
        <li id="picnic">Picnic Tables</li>
        <li id="bathroom">Bathrooms</li>
        <li id="changing">Changing Stations</li>
        </ul>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div class="col-md-7">
  <img src="http://www.katiemarriner.com/static/playground/static/project/public/images/image1.jpg" alt="{{playground.name}}" class="img-responsive">
</div>
</div>
</div>
</div>
<script>
    ageArray = new Array;
    ageArray = ["{{playground.infant}}", "{{playground.toddler}}", "{{playground.preSchooler}}", "{{playground.schoolAged}}", "{{playground.preTeen}}"];
    console.log(ageArray);
    console.log(ageArray[1]);
    var test = ageArray[1] == "False"
    console.log(test);

    $(function() {
    if (ageArray[0] == "False"){
        $("#infants").hide();
        }
    if (ageArray[1] == "False"){
        $("#toddlers").hide();
        }
    if (ageArray[2] == "False"){
        $("#preSchool").hide();
       }
    if (ageArray[3] == "False"){
        $("#schoolAge").hide();
       }
    if (ageArray[4] == "False"){
        $("#preTeen").hide();
    }
    })
    
    transportArray = new Array()
    transportArray = ["{{playground.bikePath}}", "{{playground.hikingTrail}}", "{{playground.adjacentParking}}", "{{playground.nearbyParking}}", "{{playground.noParking}}", "{{playground.proximityToBus}}"];
    console.log(transportArray);

    $(function() {
        if (transportArray[0] == "False"){
            $("#bike").hide();
        }
        if (transportArray[1] == "False"){
            $("#hike").hide();
        }
        if (transportArray[2] == "False"){
            $("#nearPark").hide();
        }
        if (transportArray[3] == "False"){
            $("#park").hide();
        }
        if (transportArray[4] == "False"){
            $("#noPark").hide();
        }
        if (transportArray[5] == 0){
            $("#bus").hide();
        }
    })

    featureArray = new Array()
    featureArray = ["{{playground.swing}}", "{{playground.slide}}", "{{playground.monkeyBars}}", "{{playground.sandBox}}", "{{playground.field}}", "{{playground.picnicTable}}", "{{playground.bathrooms}}", "{{playground.changingStation}}"];
    console.log(featureArray);
    
    $(function() {
        if (featureArray[0] == "False"){
            $("#swing").hide();
        }
        if (transportArray[1] == "False"){
            $("#slide").hide();
        }
        if (featureArray[2] == "False"){
            $("#monkey").hide();
        }
        if (featureArray[3] == "False"){
            $("#sand").hide();
        }
        if (featureArray[4] == "False"){
            $("#field").hide();
        }
        if (featureArray[5] == "False"){
            $("#picnic").hide();
        }
        if (featureArray[6] == "False"){
            $("#bathroom").hide();
        }
        if (featureArray[7] == "False"){
            $("#changing").hide();
        }
    })
    
    playgroundArray = new Array()
    playgroundArray = ["{{playground.handicap}}"]
    $(function(){
        if (playgroundArray[0] == "False"){
            $("#handicap").hide();
        }
    })

</script>
{% endblock %}