{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Playground Detail</h1>

<div class=row>
<div class="col-md-5 left-info">    
    <div class="table-div" style="max-height: 440px; overflow-y: scroll; margin: 20px inherit;">
    <table class="table">
    <thead>
        <h3>Name of Playground</h3>
    </thead>
    <tbody>
    <tr>
          <h6>Address</h6> <p>Address goes here</p>
    </tr>
    <tr>
        <h6>Suitable for Ages</h6> <p>6-12</p>
    </tr>
    <tr> <h6>School District</h6> <p>New Hope</p>
    </tr> 
    <tr>
        <h6>Transportation</h6> <p>NS, NU</p>
    </tr>
    <tr>
        <h6>Hours</h6> <p>Dawn to dusk</p>
    </tr>
    <tr>
        <h6>Features</h6>
        <ul>
        <li>Swings</li>
        <li>Parking</li>
        <li>Picnic tables</li>
        <li>Pool</li>
        <li>Baseball field</li>
        <li>Tennis courts</li>
        <li>Basketball courts</li>
        </ul>
    </tr>
    </tbody>
    </table>
</div>
</div>
<div class="col-md-7">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ STATIC_URL }}image1.jpg">
      <div class="carousel-caption">
        <h2>caption goes herey if we want!</h2>
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}image2.jpg">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ STATIC_URL }}image3.jpg">
      <div class="carousel-caption">
      </div>
      </div>
    </div>


  <!-- Controls -->

</div>
</div>
</div>
</div>
{% endblock %}