{% extends "base.html" %}

{% block content %}

<div class="container">
    
<h1>User Signup</h1>

<div class=row>
<div class="col-md-6 left-info">
        <form role="form" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-10-form"> 
      <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="first" style="border: 1px solid #000;">
        </div>
        
        <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="last" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="zip" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="birthday" style="border: 1px solid #000;">
        <span class="input-group-btn">
        </span>
        
        <input type="text" class="col-sm-10 form-control signup-form suggest-text" cols="20" rows="5" placeholder="description" style="border: 1px solid #000;">
        <span class="input-group-btn">
    </div>
</div>

<!--<div class="col-md-6 left-info">
    <div class="input-group">
    <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="first" style="border: 1px solid #000;">
    
    <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="last" style="border: 1px solid #000;">

    <input type="text" class="col-sm-10 form-control signup-form suggest-text" placeholder="zip" style="border: 1px solid #000;">
    
    <input type="text" id="datepicker" class="col-sm-10 form-control signup-form suggest-text" placeholder="birthday" style="border: 1px solid #000;">
   
    <textarea type="text" class="col-sm-10 form-control signup-form suggest-text" cols="20" rows="5" placeholder="description" style="border: 1px solid #000;"></textarea>

    </div>
</div>-->


<div class="col-md-6 right-info col-sm-8 col-xs-12 col-lg-6"> <!---start right column-->
    
    <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                Which best describes you?
            </h4>
          </div>
          <div id="user-description">
            <div class="panel-body">
                <div class="radio">
                    <label>
                      <input type="radio" name="description" id="description-parent" value="parent">
                      Parent
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="description" id="description-grandparent" value="grandparent">
                        Grandparent
                    </label>
                  </div>
                   <div class="radio">
                    <label>
                      <input type="radio" name="description" id="description-sibling" value="sibling">
                        Sibling
                    </label>
                   </div>
                   <div class="radio">
                    <label>
                      <input type="radio" name="description" id="description-" value="handicap-idk">
                        Don't Know
                    </label>
                   </div>
                   <div class="radio">
                    <label>
                      <input type="radio" name="description" id="description-" value="handicap-idk">
                        Don't Know
                    </label>
                   </div>
            </div>
          </div>
          
          
             <select class="form-control signup-form" placeholder="favorite park" style="border: 1px solid #000;">
                <option value="select">Favorite Playground</option>
                <option value="CHC">Chapel Hill-Carrboro YMCA</option>
                <option value="FP2">Fun Playground 2</option>
                <option value="SM">Slides and More</option>
              </select>
            <input type="text" class="form-control signup-form" placeholder="if other please specify" style="border: 1px solid #000;">
        
        </div>
        
        <button type="submit" class="btn btn-default user-submit">Submit</button>
        
    </div>
</div> <!---end right column-->

</div>
{% endblock %}
