{% extends "base.html" %}

{% block content %}
    <div class="container">
        <p>Click <a href="/playgroundapp/logout/">Here</a> To Log Out</p>
        <p>Click <a href="/">Here</a> if you are not redirected.</p>
    <div class="full_name_check hide">
        {{full_name}}
    </div>
    </div>
    
    
    
    <script>
    //window.setTimeout(function() {
    //  window.location.href = '/';
    //}, 3000);

    if ($(".full_name_check").text().length > 1) {
            console.log("logged in")
            $('.signUp').hide();
            $('.userLogin').hide();
            $('.helloUser').removeClass("hide");
            $('.full_name_check').removeClass("hide");
        }  else {
            console.log("did not work");
        }
    </script>
{% endblock %}