{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="loggedIn">Hi {{full_name}}, You Are Now Logged In!</h2>
        <p>Click <a href="/playgroundapp/logout/">Here</a> To Log Out</p>
        <p>Click <a href="/playgroundapp/logout/">Here</a> if you're not redirected.</p>
    </div>
    
    <script>
    //window.setTimeout(function() {
      //  window.location.href = '/';
    //}, 3000);
    
    if($(".loggedIn").text().length > 28) {
        $('.signUp').hide();
        $('.userLogin').hide();
        $('.helloUser').removeClass("hide")
    }  else {
        console.log("did not work");
    }
    </script>
{% endblock %}